/*Färger till bakgrunder och Menyknappar*/
/*Färgerna definieras i _settings*/
.default{
	background: $forskning-color;
}
ul.sf-menu li a.forskning{
	background: $forskning-color;
	color: $black;
}
ul.sf-menu li a.fortbildning{
	background: $fortbildning-color;
}
ul.sf-menu li a.kontakt{
	background: $kontakt-color;
	color: $black;
}
ul.sf-menu li a.blog{
	background: $blog-color;
}
ul.sf-menu li a.evenemang{
	background: $evenemang-color;
	color: $black;
}

/*Klasserna kommer ifrån nod ID utom på vyerna Evenemang och Blog*/
.background-normal{
	background: #afcfc2 url('../images/KCV_background.jpg') no-repeat center top;
}
.background-front{
	background: #afcfc2;
}
/*evenemang*/
.background-80{
	background: $evenemang-color;
}
/*Forskning*/
.background-79{
	background: $forskning-color;
}
/*Fortbildning*/
.background-76{
	background: $fortbildning-color;
}
/*Månadens kör*/
.background-81{
	background: $fortbildning-color;
}