ul.sf-menu li a{
	color: $white;
	/*padding-left: 1rem;*/
	padding: 0.5rem;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.9rem;
	background: $fortbildning-color;
}
ul.sf-menu a.sf-depth-2{
	/*background: none;*/
}

ul.sf-menu li a.active,
ul.sf-menu li.active-trail a{
	/*color: $white;*/
	/*background: #959c73;*/
}
ul.sf-menu li li a.active{
	/*color: $white;*/
}
ul.sf-menu{
	float: right;
	/*text-align: center;*/
	/*display: block;*/
}
ul.sf-menu li a{
	margin-right: 0.2rem;
}
ul.sf-menu li a{
	float: left;
	/*display: inline-block;*/
}
ul.sf-menu a.sf-depth-2{
	background: none;
	/*margin-bottom: 1px;*/
	/*padding-bottom: 0.2rem;*/
	/*padding-top: 0.2rem;*/
	text-transform: none;
}

ul.sf-menu ul li a{
	line-height: 0.8rem;
	/*font-size: 0.7rem;*/
	
	
}
ul.sf-menu ul li{
	margin-bottom: 4px !important;
	padding-bottom: 6px;
	padding-top: 0px;
	margin-top: 0px !important;
	width: inherit;
}
ul.sf-menu ul li .first{
	padding-top: 0.6rem;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul{
	top: 1.9rem;
}

ul.sf-menu ul li a:hover{
	/*color: $black;*/
}
ul.sf-menu ul li a{
	color: $white;
	padding-bottom: 0;
}
ul.sf-menu ul{
	background: $black;
	padding-top: 0.3rem;
}

